@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

.trispace-font {
  font-family: 'Trispace', sans-serif;
}

body,
html {
  height: 100%;
}

.background {
  background-image: url(../img/background-1.jpg);
  background-size: cover;
  height: 100%;
}
