@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

.trispace-font {
  font-family: 'Trispace', sans-serif;
}

body,
html {
  height: 100%;
}

.background {
  background-image: url(../img/background-1.jpg);
  background-size: cover;
  height: 100%;
}

.profile-img {
  object-fit: cover;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0.5);
}

.card-bg-transp {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
